.about-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-item {
  width: 28%;
  background-color: skyblue;
  padding: 40px 3.5vw 30px;
  text-align: center;
}

.about-item:nth-child(4), .about-item:nth-child(5), .about-item:nth-child(6) {
  margin-top: 46px;
}

.about-item__title {
  font-size: 2.2rem;
  margin-bottom: 18px;
}

.about-item__img {
  width: 100%;
  max-width: 170px;
  margin: 0 auto;
}

.about-item__img img {
  width: 100%;
}

.about-item__desc {
  margin-top: 35px;
  text-align: left;
}
