header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 10;
  color: white;
}

.hd-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

nav {
  width: 45%;
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
